@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.Title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


/* Profit and Loss Styles */

.profit {
  color: #00ff66;
  font-size: 1.1rem;
} 

.loss {
  color: #ff4444;
  font-size: 1.1rem;
}