@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.Title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container {
  max-width: 95vw;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(55, 0, 173, 0.586);
  border: 1px solid red;
}

.header{
  border: 1px solid yellow;
  max-width: 95vw;
}

.navbar{
  border: 1px solid purple;
}

.content{
  border: 1px solid green;
  max-width: 95vw;
}

.sidebar{
  border: 1px solid orange;
  max-width: 5vw;
}

.footer{
  border: 1px solid cyan;
}

.equity-chart {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 8px;
}

.equity-summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.equity-summary h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.profit {
  color: #00ff66;
  font-size: 1.1rem;
}

.loss {
  color: #ff4444;
  font-size: 1.1rem;
}