@import "tailwindcss";

:root {
  --background: #000050;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.Title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer{
  background: #0000005c;
  border-radius: 12px;
  margin-left: 1.5rem;
  padding: 10px
}

/* Profit and Loss Styles */

.profit {
  color: #00ff66;
  font-size: 1.1rem;
} 

.loss {
  color: #ff4444;
  font-size: 1.1rem;
}


/* Live Button Styles */

.live-button {
  width: 100%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.live-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.live-button.start {
  background-color: #22c55e;
}

.live-button.stop {
  background-color: #ef4444;
}

.live-button:hover {
  opacity: 0.9;
}